$football: 		#046a38;
$canola:		#ffe359;
$midnight-sky:	#00558c;
$potash:		#9d2235;
$elkwater:		#57abad;
$athabasca-dune:#cfcbae;
$campfire:		#cf5833;
$buffalo-grass:	#a4d65e;
$graphite:		#333333;
$smoke:			#666666;
$seagull:		#e1e3e6;
$cloud:			#f5f5f5;
$white:			#ffffff;
$sky:			#52A8EC;

.football {
	color: $football;
}
.bg-football {
	background-color: $football;
}


.canola {
	color: $canola;
}
.bg-canola {
	background-color: $canola;
}

.midnight-sky {
	color: $midnight-sky;
}
.bg-midnight-sky {
	background-color: $midnight-sky;
}

.potash {
	color: $potash;
}
.bg-potash {
	background-color: $potash;
}

.elkwater {
	color: $elkwater;
}
.bg-elkwater {
	background-color: $elkwater;
}

.athabasca-dune {
	color: $athabasca-dune;
}
.bg-athabasca-dune {
	background-color: $athabasca-dune;
}

.campfire {
	color: $campfire;
}
.bg-campfire {
	background-color: $campfire;
}

.buffalo-grass {
	color: $buffalo-grass;
}
.bg-buffalo-grass {
	background-color: $buffalo-grass;
}

.graphite {
	color: $graphite;
}
.bg-graphite {
	background-color: $graphite;
}

.smoke {
	color: $smoke;
}
.bg-smoke {
	background-color: $smoke;
}

.seagull {
	color: $seagull;
}
.bg-seagull {
	background-color: $seagull;
}

.cloud {
	color: $cloud;
}
.bg-cloud {
	background-color: $cloud;
}

.white {
	color: $white;
}
.bg-white {
	background-color: $white;
}